body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: 80px;
  grid-template-areas: 
    "navside navtop navtop navtop"
    "navside header header header"
    "navside graph graph graph"
    "navside pagebreak pagebreak pagebreak"
    "navside job job links";
  height: auto;
}


/* Top Navigation Bar */

.nav-top {
  grid-area: navtop;
  display: grid;
  grid-template-columns: repeat(2, 80px) 2fr repeat(3, 80px);
  border-bottom: 1px solid #93969b;
  height: 80px;
}

.nav-icons {
  height: 80px;
  width: 80px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-icons:hover {
  background-color: #19a6ed;
  cursor: pointer;
}

.search-input {
  border: none;
  height: 78px;
}

.search-input::placeholder {
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

.hamburger-icon {
  background-image: url("images/hamburger.svg");
  border-right: 1px solid #93969b;
}

.hamburger-icon:hover {
  background-image: url("images/hamburger-white.svg");
  cursor: pointer;
}

.search-icon {
  background-image: url("images/search.svg");
  border-left: 1px solid #93969b;
}

.search-icon:hover {
  background-color: #ffffff;
  cursor: auto;
  border-left: 1px solid #93969b;
}

.search-icon-hidden {
  display: none;
}

.profile-icon {
  background-image: url("images/profile.svg");
  border-left: 1px solid #93969b;
  border-right: 1px solid #93969b;
}

.profile-icon:hover {
  background-image: url("images/profile-white.svg");
  cursor: pointer;
}

.calendar-icon {
  background-image: url("images/calendar.svg");
  border-right: 1px solid #93969b;
}

.calendar-icon:hover {
  background-image: url("images/calendar-white.svg");
  cursor: pointer;
}

.trash-icon {
  background-image: url("images/squares.svg");
}

.trash-icon:hover {
  background-image: url("images/squares-white.svg");
  cursor: pointer;
}


/* Side Navigation Bar */

.nav-side {
  background-color: #354052;
  grid-area: navside;
  height: 100%;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: 35px auto 0;
}

.name-arrow-container {
  display: flex;
  justify-content: center;
}

.name {
  color: #99a4b6;
  display: inline-block;
  padding: 0 10px 15px 0;
  margin-bottom: 0;
}

.name-arrow {
  display: inline-block;
  background-image: url('images/name-arrow.svg');
  background-size: cover;
  height: 13px;
  width: 13px;
  margin-top: 22px;
}

.name-arrow:hover {
   background-image: url('images/name-arrow-white.svg');
   cursor: pointer;
}

.nav-side-ul {
  list-style-type: none;
  padding: 0;
}

.nav-side-headings {
  padding: 30px 15px 5px;
  color: #6a778a;
  font-size: .75em;
  border-top: 2px solid #2c3749;
}

.nav-side-li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 16px 0 16px 15px;
  border-left: 3px solid #354052;
  color: #99a4b6;
  font-size: .75em;
}

.nav-side-li-checkboxes {
  display: flex;
  align-items: center;
  padding: 16px 0 16px 15px;
  border-left: 3px solid #354052;
  color: #99a4b6;
  font-size: .75em;
}

.nav-side-li:hover {
  background-color: #2f3849;
  color: #ffffff;
  border-left: 3px solid #33adf8;
  cursor: pointer;
}

.nav-side-icon {
  background-size: cover;
  height: 13px;
  width: 13px;
  margin: 0 9px 0 0;
}

.home-icon {
  background-image: url("images/home.svg");
}

.nav-side-li:hover .home-icon {
  background-image: url("images/home-white.svg");
}

.jobs-icon {
  background-image: url("images/jobs.svg");
}

.nav-side-li:hover .jobs-icon {
  background-image: url("images/jobs-white.svg");
}

.resumes-icon {
  background-image: url("images/resumes.svg");
}

.nav-side-li:hover .resumes-icon {
  background-image: url("images/resumes-white.svg");
}

.tasks-icon {
  background-image: url("images/tasks.svg");
}

.nav-side-li:hover .tasks-icon {
  background-image: url("images/tasks-white.svg");
}

.calendar2-icon {
  background-image: url("images/calendar2.svg");
}

.nav-side-li:hover .calendar2-icon {
  background-image: url("images/calendar2-white.svg");
}

.users-icon {
  background-image: url("images/users.svg");
}

.nav-side-li:hover .users-icon {
  background-image: url("images/users-white.svg");
}

.locations-icon {
  background-image: url("images/location.svg");
}

.nav-side-li:hover .locations-icon {
  background-image: url("images/location-white.svg");
}

.workflows-icon {
  background-image: url("images/workflows.svg");
}

.nav-side-li:hover .workflows-icon {
  background-image: url("images/workflows-white.svg");
}

.jobboards-icon {
  background-image: url("images/jobboards.svg");
}

.nav-side-li:hover .jobboards-icon {
  background-image: url("images/jobboards-white.svg");
}

.social-icon {
  background-image: url("images/social.svg");
}

.nav-side-li:hover .social-icon {
  background-image: url("images/social-white.svg");
}

.administrative-icon {
  background-image: url("images/administrative.svg");
}

.design-icon {
  background-image: url("images/blue-square.svg");
}

.executive-icon {
  background-image: url("images/red-square.svg");
}

.humanresources-icon {
  background-image: url("images/green-square.svg");
}


/* Header Section */

.header-container {
  grid-area: header;
  color: #7a7a7c;
  height: auto;
}

.header-title-container {
  margin: 0;
  display: inline-block;
  margin: 50px 0 0 5%;
}

h1 {
  font-size: 2rem;
  margin: 0 10px 0 0;
}

.header-btns {
  display: flex;
  margin: 5% 4% 0 0;
  float: right;
  justify-content: flex-end;
}

.header-btn {
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.header-btn:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.open-btn {
  border-radius: 20px;
  color: #7a7a7c;
  text-transform: uppercase;
  padding: 7px 9px;
  font-size: .75rem;
  font-weight: bold;
  height: 40px;
}

.open-btn-green-dot {
  width: 10px;
  height:10px;
  padding-right: 7px;
}

.bookmark-icon {
  height: 15px;
  width: 15px;
  padding: 5px 0 0 2px;
}

.pencil-icon {
  height: 15px;
  width: 15px;
  padding: 3px 0 0 2px;
}

.trash2-icon {
  height: 15px;
  width: 15px;
  padding: 3px 0 0 0;
}

.location-and-preview-container {
  align-items: center;
  display: flex;
  padding: 5px 0 20px 0;
  margin: 0;
}

.location-icon {
  background-image: url('images/location.svg');
  background-size: cover;
  height: 13px;
  width: 13px;
}

.city {
  padding-left: 6px;
  margin: 0;
}

.dot {
  padding: 0 13px;
  margin: 0;
}

.preview {
  color: #19a6ed;
  margin: 0;
}

.preview:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.nav-2 {
  display: flex;
  padding-left: 3.4%;
  margin: 0;
}

.nav-2-li-summary {
  display: none;
}

.nav-2-li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: .75em;
  border-bottom: 3px solid #ffffff;
  margin-left: 20px;
  padding: 20px 0;
}

.summary {
  margin-left: 0px;
}

.nav-2-li:hover {
  border-bottom: 3px solid #33adf8;
  font-weight: bold;
  cursor: pointer;  
}

.summary-arrow {
  display: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0 10px;
  background-size: cover;
}

.summary-arrow-right {
  background-image:  url('images/right-arrow.svg');
  margin-left: 10px;
}

.summary-arrow-right:hover  {
  background-image:  url('images/arrow-right-blue.svg');
  cursor: pointer;
}

.summary-arrow-right:focus {
  outline: none;
}

.summary-arrow-left {
  background-image: url('images/left-arrow.svg');
  margin-right: 10px;
}

.summary-arrow-left:focus {
  outline: none;
}


/*Graph Section */

.graph-container {
  background-color: #edf2f6;
  grid-area: graph;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper {
  width: 90%;
  padding: 11% 0 13% 8%;
  display: flex;
}

.single-chart {
  padding: 3%;
}

.circular-chart {
  margin: 3% auto;
  width: 100%;
  height: auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.number {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.words {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.23em;
  text-anchor: middle;
  text-transform: uppercase;
}

.circles-and-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.graph-button {
  display: block;
  margin: auto;
  border-radius: 20px;
  font-size: .75rem;
  padding: 10px 15px;
  color: #7a7a7c;
}

.dot-graph {
  display: inline;
  padding: 0 5px;
}

.bar-graph {
  width: 90%;
  margin: 30px 6% 17px 5%;
}

.bar-graph-and-button {
  width: 90%;
}

.page-break-container {
  grid-area: pagebreak;
  display: flex;
  align-items: center;
  background-color: #edf2f6;
  padding: 50px;
}

.page-break {
  width: 45%;
  color: #7a7a7c;
}

.up-arrow {
  width:20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}


/* Job Description Section */

.job-description {
  background-color: #edf2f6;
  grid-area: job;
  padding: 0 0 40px 7.5%;
}

.job-description-heading {
  background-color: #6f7e95; 
  display: flex;
  align-items: center;
}

.job-description-title {
  margin: 0;
  padding: 25px 20px 25px 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .85rem;
}

.job-description-table {
  color: #7a7a7c;
}

.edit-btn-container {
  display: flex;
  align-items: center;
  background-color: #7d8ba6;
}

.edit-btn {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: .75rem;
  background-color: inherit;
  padding: 10px 15px 10px 4px;
}

.edit-btn:hover {
  cursor: pointer;
}

.edit-btn-container:hover {
  background-color: #62718e;
  cursor: pointer;
}

.edit-btn-icon {
  width: 15px;
  height: 15px;
  padding: 10px 4px 10px 15px;
}

.job-description-table {
  background-color: #ffffff;
  border: none;
  margin-bottom: 50px;
}

td {
  border-bottom: 2px solid #f4f4f4;
  padding: 15px 15px 15px 0;
}

.table-item-left {
  text-transform: uppercase;
  width: 170px;
  padding-left: 1%;
  font-size: 1rem;
  width: 30%;
}

.table-item-right {
  font-size: 1rem;
  width: 95%;
  padding-right: 1%;
  display: flex;
  align-items: center;
}

.Tammy {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.approved {
  border-bottom: none;
}


/* Links Section */

.links-container {
  background-color: #edf2f6;
  grid-area: links;
  padding: 0 12% 40px 10%;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: .75rem;
  border-radius: 3px;
}

.social-icon {
  padding: 0 10px 0 0;
  height: 10px;
  width: 10px;
}

.facebook-container {
  background-color: #4b70c2;
}

.facebook-container:hover {
  background-color: #3755A3;
  cursor: pointer;
}

.twitter-container {
  background-color: #01aaef;
}

.twitter-container:hover {
  background-color: #0186BC;
  cursor: pointer;
}

.linkedin-container {
  background-color: #0482bc;
}

.linkedin-container:hover {
  background-color: #035F8A;
  cursor: pointer;
}

.link-title-container {
  display: flex;
  align-items: center;
  color: #7a7a7c;
}

.links-icons {
  padding-top: 20px;
}

.links-title {
  padding: 30px 0 12px 8px;
  margin: 0;
  font-size: 1.1em;
}

.links-words {
  margin: 0;
  padding: 0;
  color: #7a7a7c;
}

.links-input-and-btn {
  padding: 20px 0 30px 0;
  display: flex;
  align-items: center;
}

.links-input {
  height: 40px;
  margin: 0;
  border: none;
  width: 80%;
}

.links-btn {
  height: 42px;
  border: none;
  background-color: #4abbc3;
  margin: 0;
  width: 20%;
  color: #ffffff;
  font-size: .75rem;
}

.links-btn:hover {
  background-color: #83D1D6;
  cursor: pointer;
}

.link-section {
  border-bottom: 2px solid #dadfe5;
}

.links-icons {
  width: 15px;
  height: 15px;
}

.upload-resume-input {
  margin: 20px 0 30px 0;
  width: 100%;
}


/* Media Queries */

@media screen and (max-width: 1020px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "navtop navtop navtop"
      "header header header"
      "graph graph graph"
      "pagebreak pagebreak pagebreak"
      "job job links";
  }

  .nav-side {
    display: none;
  }

  .header-btns {
    display: flex;
    margin: 5% 4% 0 0;
    float: right;
    justify-content: flex-end;
  }

  .graph-button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 793px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "navtop navtop"
      "header header"
      "graph graph"
      "pagebreak pagebreak"
      "job links";
  }

  .graph-container {
    flex-direction: column;
  }

  .bar-graph {
    width: 90%;
    margin: 0 4%;
  }

  .flex-wrapper {
    padding: 3% 4% 3% 4%;
  }

  .clear-btn {
    display: none;
  }

  .summary-btn {
    display: flex;
    align-items: center;
  }

  .summary-arrow  {
    display: unset;
  }

  .header-title-container {
    display: block;
    margin-top: 40px;
  }

  .location-and-preview-container {
    padding: 10px 0 10px 0;
  }

  .header-btns {
    float: left;
    margin: 10px 0 0px 5%;
    padding-bottom: 30px;
  }

  .nav-2-li-summary {
    display: flex;
    width: 80%;
    padding: 25px 4%;
  }
}

@media screen and (max-width: 674px) {
  body {
    grid-template-columns: 100%;
    grid-template-areas: 
      "navtop"
      "header"
      "graph"
      "pagebreak"
      "job"
      "links";
  }

  .job-description {
    padding: 0 5%;
  }

  .nav-top {
    grid-area: navtop;
    display: flex;
    justify-content: space-between;
    border: none;
    height: 60px;
  }

  .nav-icons {
    height: 60px;
    width: 60px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hamburger-icon {
    border: none;
  }

  .trash-icon {
    border: none;
  }

  .search-input {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .search-icon-hidden {
    display: none;
  }

  .profile-icon {
    display: none;
  }

  .calendar-icon {
    display: none;
  }

  .header-title-container {
    margin: -10px 0 0 4%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .location-and-preview-container {
    padding: 10px 0 25px 0;
  }

  .links-container {
    padding: 0 4% 40px 4%;
  }

  .nav-2-li-summary {
    padding-top: 50px;
  }

  .header-btns {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .nav-2-li {
    padding: 0;
    margin: 0;
  }

  .graph-button {
    margin: auto;
    font-size: .5em;
  }

  .graph-container {
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .flex-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .bar-graph {
    padding-top: 20px;
  }
}