body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: 80px;
  grid-template-areas: 
    "navside navtop navtop navtop"
    "navside header header header"
    "navside graph graph graph"
    "navside job job links";
  height: auto;
}

/* Top Navigation Bar */

.nav-top {
  grid-area: navtop;
  display: grid;
  grid-template-columns: repeat(2, 80px) 2fr repeat(3, 80px);
  border-bottom: 1px solid #93969b;
  height: 80px;
}

.nav-icons {
  height: 80px;
  width: 80px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-icons:hover {
  background-color: #19a6ed;
  cursor: pointer;
}

.search-input {
  border: none;
  font-size: 1.5rem;
  height: 78px;
}

.search-input::placeholder {
  font-size: 1.5rem;
}

.search-input:focus {
  outline: none;
}

.hamburger-icon {
  background-image: url("images/hamburger.svg");
  border-right: 1px solid #93969b;
}

.hamburger-icon:hover {
  background-image: url("images/hamburger-white.svg");
  cursor: pointer;

}

.search-icon {
  background-image: url("images/search.svg");
}

.search-icon:hover {
  background-color: #ffffff;
  cursor: auto;
}

.search-icon-hidden {
  display: none;
}

.profile-icon {
  background-image: url("images/profile.svg");
  border-left: 1px solid #93969b;
  border-right: 1px solid #93969b;
}

.profile-icon:hover {
  background-image: url("images/profile-white.svg");
  cursor: pointer;

}

.calendar-icon {
  background-image: url("images/calendar.svg");
  border-right: 1px solid #93969b;
}

.calendar-icon:hover {
  background-image: url("images/calendar-white.svg");
  cursor: pointer;
}

.trash-icon {
  background-image: url("images/trash.svg");
}

.trash-icon:hover {
  background-image: url("images/trash-white.svg");
  cursor: pointer;
}

/* Side Navigation Bar */

.nav-side {
  background-color: #354052;
  grid-area: navside;
  height: 100%;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  height: 100px;
  margin: 40px auto 0;
}

.name-arrow-container {
  display: flex;
  justify-content: center;
}

.name {
  color: #99a4b6;
  display: inline-block;
  padding: 0 10px 15px 0;
  margin-bottom: 0;
}

.name-arrow {
  display: inline-block;
  background-image: url('images/name-arrow.svg');
  background-size: cover;
  height: 13px;
  width: 13px;
  margin-top: 22px;
}

.name-arrow:hover {
   background-image: url('images/name-arrow-white.svg');
   cursor: pointer;
}

.nav-side-ul {
  list-style-type: none;
  padding: 0;
}

.nav-side-headings {
  padding: 30px 15px 5px;
  color: #6a778a;
  font-size: .75em;
  border-top: 2px solid #2c3749;
}

.nav-side-li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  border-left: 3px solid #354052;
  color: #99a4b6;
  font-size: .75em;
}

.nav-side-li-checkboxes {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  border-left: 3px solid #354052;
  color: #99a4b6;
  font-size: .75em;
}

.nav-side-li:hover {
  background-color: #2f3849;
  color: #ffffff;
  border-left: 3px solid #33adf8;
  cursor: pointer;
}

.nav-side-icon {
  background-size: cover;
  height: 13px;
  width: 13px;
  margin: 0 9px 0 0;
}

.home-icon {
  background-image: url("images/home.svg");
}

.nav-side-li:hover .home-icon {
  background-image: url("images/home-white.svg");
}

.jobs-icon {
  background-image: url("images/jobs.svg");
}

.nav-side-li:hover .jobs-icon {
  background-image: url("images/jobs-white.svg");
}

.resumes-icon {
  background-image: url("images/resumes.svg");
}

.nav-side-li:hover .resumes-icon {
  background-image: url("images/resumes-white.svg");
}

.tasks-icon {
  background-image: url("images/tasks.svg");
}

.nav-side-li:hover .tasks-icon {
  background-image: url("images/tasks-white.svg");
}

.calendar2-icon {
  background-image: url("images/calendar2.svg");
}

.nav-side-li:hover .calendar2-icon {
  background-image: url("images/calendar2-white.svg");
}

.users-icon {
  background-image: url("images/users.svg");
}

.nav-side-li:hover .users-icon {
  background-image: url("images/users-white.svg");
}

.locations-icon {
  background-image: url("images/location.svg");
}

.nav-side-li:hover .locations-icon {
  background-image: url("images/location-white.svg");
}

.workflows-icon {
  background-image: url("images/workflows.svg");
}

.nav-side-li:hover .workflows-icon {
  background-image: url("images/workflows-white.svg");
}

.jobboards-icon {
  background-image: url("images/jobboards.svg");
}

.nav-side-li:hover .jobboards-icon {
  background-image: url("images/jobboards-white.svg");
}

.social-icon {
  background-image: url("images/social.svg");
}

.nav-side-li:hover .social-icon {
  background-image: url("images/social-white.svg");
}

.administrative-icon {
  background-image: url("images/administrative.svg");
}

.design-icon {
  background-image: url("images/blue-square.svg");
}

.executive-icon {
  background-image: url("images/red-square.svg");
}

.humanresources-icon {
  background-image: url("images/green-square.svg");
}

/* Header Section */

.header-container {
  grid-area: header;
  color: #7a7a7c;
}

h1 {
  margin: 50px 0 0 0;
  padding-left: 5%;
}

.header-btns {
}

.open-btn {
  border-radius: 20px;
  color: #7a7a7c;
  text-transform: uppercase;
  padding: 7px 9px;
  font-size: .75rem;
  font-weight: bold;
}

.bookmark-btn {
  padding: 30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.bookmark-icon {
  height: 10px;
  width: 10px;
}

.pencil-btn {
  padding: 30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.pencil-icon {
  height: 10px;
  width: 10px;
}

.trash-btn {
  padding: 30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.trash-icon {
  height: 10px;
  width: 10px;
}



.location-and-preview-container {
  align-items: center;
  display: flex;
  padding: 0 0 20px 5%;
;
}

.location-icon {
  background-image: url('images/location.svg');
  background-size: cover;
  height: 13px;
  width: 13px;
}

.city {
  padding-left: 6px;
}

.dot {
  padding: 0 13px;
}

.preview {
  color: #19a6ed;
}

.preview:hover {
  text-decoration: underline;
  cursor: pointer;  
}

.nav-2 {
  display: flex;
  padding-left: 5%;
  margin: 0;

}

.nav-2-li {
  list-style-type: none;
  padding: 0 0 15px 0;
  margin-right: 40px;
  text-transform: uppercase;
  font-size: .75em;
  border-bottom: 3px solid #ffffff;
}

.nav-2-li:hover {
  border-bottom: 3px solid #33adf8;
  font-weight: bold;
  cursor: pointer;  

}

/*Graph Section */

.graph-container {
  background-color: #edf2f6;
  grid-area: graph;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
  padding-left: 5%;

}

.single-chart {
  padding: 15px;
}

.circular-chart {
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.number {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.words {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.23em;
  text-anchor: middle;
  text-transform: uppercase;
}

.bar-graph {
  width: 70%;
  height: auto;
}

.page-break-container {
}

.page-break {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.up-arrow {
  width:20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}



/* Job Description Section */

.job-description {
  background-color: #edf2f6;
  grid-area: job;
  padding: 0 0 40px 7.5%;

}

.job-description-heading {
  background-color: #6f7e95; 
  display: flex;
  align-items: center;
}

.job-description-title {
  margin: 0;
  padding: 25px 20px 25px 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .85rem;
}

.edit-btn {
  color: #ffffff;
  background-color: #7d8ba6;
  border: none;
  padding: 10px 15px;
}

.job-description-table {
  background-color: #ffffff;
  border: none;
  margin-bottom: 50px;
}

td {
  border-bottom: 2px solid #f4f4f4;
  padding: 15px 15px 15px 0;
}

.table-item-left {
  text-transform: uppercase;
  width: 170px;
  padding-left: 10px;
  font-size: 1rem;
}

.table-item-right {
  font-size: 1rem;
}

.approved {
  border-bottom: none;
}

/* Links Section */

.links-container {
  background-color: #edf2f6;
  grid-area: links;
  padding: 0 10% 40px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: .75rem;
  border-radius: 3px;
}

.facebook-container {
  background-color: #4b70c2;
}

.facebook-container:hover {
  background-color: #3755A3;
}

.twitter-container {
  background-color: #01aaef;
}

.twitter-container:hover {
  background-color: #0186BC;
}

.linkedin-container {
  background-color: #0482bc;
}

.linkedin-container:hover {
  background-color: #035F8A;
}

.link-title-container {
  display: flex;
  align-items: center;
}

.links-title {
  padding: 30px 0 20px 8px;
  margin: 0;
}

.links-words {
  margin: 0;
  padding: 0;
}

.links-input-and-btn {
  padding: 20px 0 30px 0;
  display: flex;
  align-items: center;
}

.links-input {
  height: 40px;
  margin: 0;
  border: none;
  width: 80%;
}

.links-btn {
  height: 42px;
  border: none;
  background-color: #4abbc3;
  margin: 0;
  width: 20%;
}

.link-section {
  border-bottom: 2px solid #dadfe5;

}

.links-icons {
  width: 15px;
  height: 15px;
}

.upload-resume-input {
  margin: 20px 0 30px 0;
  width: 100%;
}


/* Media Queries */

@media screen and (max-width: 1002px) {
/*.nav-top {
  grid-template-columns: repeat(2, 100px) 1fr repeat(3, 100px);
}

  .search-input {
    display: none;  }

  .search-icon-hidden {
    display: unset;
  }

  .search-icon:hover {
    background-image: url("images/search-white.svg");
    background-color: #18a4fb;
  }*/
}